<div class="container-fluid">
  <div class="article-wrapper">
    <%= image_tag @article.image_url if @article.image %>
    <div class="info">
      <h1 class="title"><%= @article.title%></h1>
      <p class="description"><%= @article.body%></p>
      <div class="footer-info">
        <div class="author-info">
          <span>Written by : <strong><%= @article.author.name %> </strong></span>
        </div>
        
      </div>
    </div>
  </div>
</div>